<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Huis bibliotheek</title>
  <base href="/">

  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Applicatie Root Component -->

{{#each scripts.polyfills}}
<script src="{{.}}"></script>
{{/each}}
<script>
  System.import('system-config.js').then(function () {
    System.import('main');
  }).catch(console.error.bind(console));
</script>


</body>
</html>
